.img_left_top
{
    border: 1px solid #f00;
    position: relative;
    z-index: 1;
    left: -30%;
    width: 50%;
}

.img_right_bottom
{
    border: 1px solid #0f0;
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 50%;
    height: 50%;
}

.img_right_top
{
    border: 1px solid #0f0;
    position: absolute;
    z-index: 2;
    left: 50%;
    height: 50%;
}

.img_center
{
    position: relative;
    top: 0;
    left: 0;
}
